.editor {
  position: relative;
  padding: 10px 10px 10px 60px;
  width: 100%;
  height: calc(100vh - 50px);
  transition: transform .2s ease-in;
}

.editor.active {
  transform: translateX(300px);
}

.editor-inner {
  background: #fff;
  border-radius: 4px;
}