.search_wrapper {
  position: relative;
}

.search_wrapper input {
  width: 100%;
  outline: none;
  box-shadow: none;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #efefef;
  border-radius: 3px;
  transition: border 0.1s;
}

.search_wrapper input:focus {
  border: 1px solid #d6d6d6
}