@import "../../styles/base/helpers";

.ws_layout_wrapper {
  background: $grey-200;
  height: calc(100vh - var(--primary-menu-height));
  margin-top: var(--primary-menu-height);
  overflow: hidden;
}
