.preview_header {
  border-bottom: 1px solid #cbcfd4;
}

.preview {
  padding: 15px;
}

.preview_header h6 {
  display: inline-block;
  line-height: 40px;
  color: grey;
  padding-left: 20px;
  margin: 0;
}