@import "../../styles/base/helpers";

.preview {
  padding: 15px 15px 15px 20px;
  overflow-y: scroll;
  height: calc(100% - (41px + 67px + 20px));

  &_header {
    border-bottom: 1px solid #cbcfd4;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h6 {
      display: inline-block;
      line-height: 40px;
      color: $grey-400;
      margin: 0;
    }

    &-icon {
      padding: 10px;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }
}
