.monaco_header {
  border-bottom: 1px solid #cbcfd4;
}

.monaco_header h6 {
  display: inline-block;
  line-height: 40px;
  color: grey;
  padding-left: 20px;
  margin: 0;
}

.monaco_header {
  border-right: 1px solid #cbcfd4;
}

.monaco_editor {
  border-right: 1px solid #cbcfd4;
  padding-top: 15px;
  height: calc(100% - 56px);
}
