@import '../../styles/base/helpers';

.flash {
  &::after {
    content: 'copied';
    position: absolute;
    top: 0;
    right: 0;
    font-size: 8px;
    background: #000;
    color: #fff;
    padding: 3px;
    border-radius: 4px;
    z-index: $z-30;
    animation: movetop 0.8s;
  }

  @keyframes movetop {
    0% {
      opacity: 1;
      top: 0px;
    }
    25% {
      opacity: .7;
      top: -10px;
    }
    50% {
      opacity: .5;
      top: -15px;
    }
    75% {
      opacity: .3;
      top: -20px;
    }
    100% {
      opacity: 0;
      top: -25px;
    }
  }
}