.section_title {
  margin: 10px 0px 20px;
}

.wise_icon-wrapper {
  padding: 0px 15px;
  height: 800px
}

.wise_icon_group {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

.wise_icon_group:empty {
  display: none;
}

.wise_icon_group::before {
  content: attr(data-display-name);
  color: #aaa;
  font-size: 14px;
  position: sticky;
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  z-index: 1;
  top: 0;
  text-transform: uppercase;
  line-height: 45px;
  font-weight: 700;
}

.wise_icon-scroll {
  overflow-y: scroll;
  position: relative;
  height: 100%;
}

.wise_icon-overfow {
  overflow: hidden;
  height: calc(100% - 46px);
}

.wise_icon--tech .wise_icon img{
  width: 30px;
  height: 30px;
  background: #fff;
  object-fit: contain;
}

.wise_icon button {
  padding: 0;
  border: 0;
  margin: 3px;
}