@import "../../styles/base/helpers";

.notfound_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .notfound {
    margin-left: 20px;
    font-size: 24px;
    margin-right: 20px;
    font-family: fantasy;
  }

  .code {
    font-size: 88px;
    color: $error;
    font-weight: bold;
  }
}
